
<div class="container">
    <div class="item">
        <app-input-form [genPassword]="password" (passwordUpdated)="updatePassword($event)"></app-input-form>
    </div>
    <div class="item">
        <!-- Content for the second div -->
        Rules
    </div>
</div>
<div class="generated-password-container">
    <div class="generated-password-item">
        <label for="generatedPassword">Generated Password</label>
        <input id="generatedPassword" type="text" [value]="password" readonly class="generated-password">
        <button class="copy-button" (click)="copyPassword()">Copy</button>
    </div>
</div>
